.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}


.dndflow .dndnode {
  height: 30px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;

}

.dndflow .dndnode.input {
  border-color: #0041d1;
  color:pink;
}
.dndflow .dndnode .r2{
  background-color: brown;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 10%;
    max-width: 250px;
  }
}